## Data Preprocessing

Steps are as follows:

### 1. Data Cleaning and Merging

#### Loading Data & Inspect for Missing Values

In [1]:
import pandas as pd

# Load datasets
bank_transaction = pd.read_csv("../dataset/bank_transaction.csv")
user_profile = pd.read_csv("../dataset//user_profile.csv")

# Display first few rows
display(bank_transaction.head())
display(user_profile.head())

,client_id,bank_id,account_id,txn_id,txn_date,description,amount,category
0,1,1,1,4,2023-09-29 00:00:00,Earnin PAYMENT Donat...,20.0,Loans
1,1,1,1,3,2023-08-14 00:00:00,ONLINE TRANSFER FROM NDonatas DanyalDA O CARSO...,25.0,Transfer Credit
2,1,1,1,5,2023-09-25 00:00:00,MONEY TRANSFER AUTHOR...,20.0,Loans
3,1,1,2,1,2023-06-02 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,16.0,Transfer Credit
4,1,1,2,2,2023-06-01 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,4.0,Transfer Credit

,CLIENT_ID,IS_INTERESTED_INVESTMENT,IS_INTERESTED_BUILD_CREDIT,IS_INTERESTED_INCREASE_INCOME,IS_INTERESTED_PAY_OFF_DEBT,IS_INTERESTED_MANAGE_SPENDING,IS_INTERESTED_GROW_SAVINGS
0,1,False,False,False,False,False,False
1,2,False,False,False,False,False,False
2,3,False,False,False,False,False,False
3,4,False,True,True,True,True,True
4,5,True,False,True,True,True,False

In [2]:
print("Missing values in bank_transaction dataset:")
print(bank_transaction.isnull().sum())

print("\nMissing values in user_profile dataset:")
print(user_profile.isnull().sum())

Missing values in bank_transaction dataset:
client_id        0
bank_id          0
account_id       0
txn_id           0
txn_date         0
description      0
amount           0
category       257
dtype: int64

Missing values in user_profile dataset:
CLIENT_ID                        0
IS_INTERESTED_INVESTMENT         0
IS_INTERESTED_BUILD_CREDIT       0
IS_INTERESTED_INCREASE_INCOME    0
IS_INTERESTED_PAY_OFF_DEBT       0
IS_INTERESTED_MANAGE_SPENDING    0
IS_INTERESTED_GROW_SAVINGS       0
dtype: int64

In [3]:
# print total number of rows in both bank_transaction and user_profile dataset
print("\nTotal number of rows in bank_transaction dataset: ", bank_transaction.shape[0])
print("Total number of rows in user_profile dataset: ", user_profile.shape[0])

Total number of rows in bank_transaction dataset:  258779
Total number of rows in user_profile dataset:  1000

#### Merging `bank_transaction.csv` with `user_profile.csv`

Incorporating `user_profile.csv` dataset is useful as 
- Financial behaviour may vary by user interests. E.g. Users interested in "Grow Savings" may have more deposit transactions. Including this data adds personalized financial behavior insights to the model.
- The model may find user-specific spending patterns.

In [4]:
# Convert all column names to lowercase
bank_transaction.columns = bank_transaction.columns.str.lower()
user_profile.columns = user_profile.columns.str.lower()

# merge both datasets on client_id
df = pd.merge(bank_transaction, user_profile, on='client_id', how='inner')

# Display first few rows of merged dataset
display(df.head())

,client_id,bank_id,account_id,txn_id,txn_date,description,amount,category,is_interested_investment,is_interested_build_credit,is_interested_increase_income,is_interested_pay_off_debt,is_interested_manage_spending,is_interested_grow_savings
0,1,1,1,4,2023-09-29 00:00:00,Earnin PAYMENT Donat...,20.0,Loans,False,False,False,False,False,False
1,1,1,1,3,2023-08-14 00:00:00,ONLINE TRANSFER FROM NDonatas DanyalDA O CARSO...,25.0,Transfer Credit,False,False,False,False,False,False
2,1,1,1,5,2023-09-25 00:00:00,MONEY TRANSFER AUTHOR...,20.0,Loans,False,False,False,False,False,False
3,1,1,2,1,2023-06-02 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,16.0,Transfer Credit,False,False,False,False,False,False
4,1,1,2,2,2023-06-01 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,4.0,Transfer Credit,False,False,False,False,False,False

#### Dropping rows with missing labels

Only 257 rows out of 258,779 (~0.1%) have missing category labels, this suggests those missing values are likely random and not part of a structured evaluation set. Keeping them could introduce noise.

In [5]:
df = df.dropna(subset=['category'])

# Verify the dataset after removal
print(f"Remaining rows after removing missing categories: {df.shape[0]}")

Remaining rows after removing missing categories: 258522

#### Removing unnecessary features

Some features may not be relevant for predicting transaction categories. Features like `client_id`, `bank_id` and `account_id`, and `txn_id` are raw identifiers that might not generalize well to new, unseen users/banks/accounts/transactions.

Dropping those columns ensures that the model focuses on real transaction-specific features like `description`, `amount`, and `txn_date`, which are more universally useful.

*However, they may still provide valuable transaction behavior insights to the model when encoded properly via feature engineering (mean, min, max, sum)*.

In [6]:
# Dropping client_id, bank_id, account_id, and txn_id columns
df = df.drop(columns=['client_id', 'bank_id', 'account_id', 'txn_id'])

# Move the target column to the last
df = df[[col for col in df if col != 'category'] + ['category']]

# Display first few rows of the dataset
display(df.head())

,txn_date,description,amount,is_interested_investment,is_interested_build_credit,is_interested_increase_income,is_interested_pay_off_debt,is_interested_manage_spending,is_interested_grow_savings,category
0,2023-09-29 00:00:00,Earnin PAYMENT Donat...,20.0,False,False,False,False,False,False,Loans
1,2023-08-14 00:00:00,ONLINE TRANSFER FROM NDonatas DanyalDA O CARSO...,25.0,False,False,False,False,False,False,Transfer Credit
2,2023-09-25 00:00:00,MONEY TRANSFER AUTHOR...,20.0,False,False,False,False,False,False,Loans
3,2023-06-02 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,16.0,False,False,False,False,False,False,Transfer Credit
4,2023-06-01 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,4.0,False,False,False,False,False,False,Transfer Credit

### 2. Data Encoding and Normalisation

#### One-Hot Encoding for Categorical Data

1. User interest columns from `user_profile.csv` (IS_INTERESTED_* columns are already boolean).
2. Transaction category (category) from `bank_transaction.csv`.

In [7]:
# One-hot encode user interest columns (Boolean → Binary 0/1)
user_interest_cols = [
    'is_interested_investment', 'is_interested_build_credit',
    'is_interested_increase_income', 'is_interested_pay_off_debt',
    'is_interested_manage_spending', 'is_interested_grow_savings'
]
df[user_interest_cols] = df[user_interest_cols].astype(int)

# One-hot encode the target variable (category)
df = pd.get_dummies(df, columns=['category'], prefix='category')

category_cols = [col for col in df.columns if col.startswith("category_")]
df[category_cols] = df[category_cols].astype(int)

# Display updated dataset
display(df.head())

,txn_date,description,amount,is_interested_investment,is_interested_build_credit,is_interested_increase_income,is_interested_pay_off_debt,is_interested_manage_spending,is_interested_grow_savings,category_ATM,...,category_Tax Refund,category_Telecommunication Services,category_Third Party,category_Transfer,category_Transfer Credit,category_Transfer Debit,category_Transfer Deposit,category_Travel,category_Uncategorized,category_Utilities
0,2023-09-29 00:00:00,Earnin PAYMENT Donat...,20.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2023-08-14 00:00:00,ONLINE TRANSFER FROM NDonatas DanyalDA O CARSO...,25.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2023-09-25 00:00:00,MONEY TRANSFER AUTHOR...,20.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2023-06-02 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,16.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2023-06-01 00:00:00,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,4.0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

#### Encoding `txn_date`

In [8]:
# Convert txn_date to datetime format (if not already in datetime)
df['txn_date'] = pd.to_datetime(df['txn_date'], errors='coerce')

# Extract time-based features
df['day_of_week'] = df['txn_date'].dt.dayofweek  # Monday=0, Sunday=6
df['day_of_month'] = df['txn_date'].dt.day  # 1-31
df['hour'] = df['txn_date'].dt.hour  # Extract hour from transaction time (0-23)
df['is_weekend'] = df['day_of_week'].apply(lambda x: 1 if x >= 5 else 0)  # 1=Weekend, 0=Weekday

# Drop original txn_date column
df = df.drop(columns=['txn_date'])

# Display updated dataset
display(df.head())

,description,amount,is_interested_investment,is_interested_build_credit,is_interested_increase_income,is_interested_pay_off_debt,is_interested_manage_spending,is_interested_grow_savings,category_ATM,category_Arts and Entertainment,...,category_Transfer Credit,category_Transfer Debit,category_Transfer Deposit,category_Travel,category_Uncategorized,category_Utilities,day_of_week,day_of_month,hour,is_weekend
0,Earnin PAYMENT Donat...,20.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,4,29,0,0
1,ONLINE TRANSFER FROM NDonatas DanyalDA O CARSO...,25.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,14,0,0
2,MONEY TRANSFER AUTHOR...,20.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,25,0,0
3,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,16.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,4,2,0,0
4,ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKIN...,4.0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,3,1,0,0

#### Normalizing transaction `amount` Using Z-Score

In [9]:
from sklearn.preprocessing import StandardScaler

# Initialize Standard Scaler
scaler = StandardScaler()

# Apply Standard Scaling
df['amount'] = scaler.fit_transform(df[['amount']])

# Check the new value range
print(df['amount'].describe())

count    2.585220e+05
mean     1.231319e-17
std      1.000002e+00
min     -1.129187e+02
25%     -1.053363e-01
50%     -5.457531e-02
75%     -6.771250e-03
max      1.157558e+02
Name: amount, dtype: float64

#### Check for class imbalance

In [10]:
# Count the number of instances for each category
category_counts = df.filter(like="category_").sum().sort_values(ascending=False)

# Compute percentage distribution
total_samples = category_counts.sum()
category_percentages = (category_counts / total_samples) * 100

# Print class distribution in percentage
print("\nCategory Percentage Distribution:")
print(category_percentages)

# Get all one-hot encoded category columns
category_cols = [col for col in df.columns if col.startswith("category_")]

# Count the number of unique transaction categories
num_classes = len(category_cols)

print(f"Total number of unique transaction categories: {num_classes}")

Category Percentage Distribution:
category_Uncategorized                 11.369245
category_Third Party                   11.106985
category_Restaurants                   10.199132
category_Transfer Credit                8.340103
category_Loans                          7.583494
category_Convenience Stores             7.206350
category_Supermarkets and Groceries     6.479139
category_Transfer Debit                 5.846311
category_Gas Stations                   4.997254
category_Internal Account Transfer      4.635195
category_Payroll                        3.133196
category_Shops                          2.869388
category_Bank Fees                      2.487989
category_Transfer                       2.427260
category_ATM                            2.194011
category_Transfer Deposit               1.924788
category_Digital Entertainment          1.750335
category_Utilities                      1.592901
category_Clothing and Accessories       1.233938
category_Department Stores              0.774402
category_Insurance                      0.678472
category_Service                        0.352001
category_Arts and Entertainment         0.153565
category_Travel                         0.141961
category_Food and Beverage Services     0.132677
category_Interest                       0.108308
category_Check Deposit                  0.081618
category_Healthcare                     0.080071
category_Telecommunication Services     0.061503
category_Gyms and Fitness Centers       0.026690
category_Payment                        0.015859
category_Bank Fee                       0.013925
category_Tax Refund                     0.001934
dtype: float64
Total number of unique transaction categories: 33

Based on the category percentage distribution, the dataset is imbalanced as some categories have significantly more instances than others.

To deal with class imbalance, use class weighting to penalize mistakes in minority classes more than in majority classes. This ensures that the model does not become biased toward the dominant class. Without class weights, each class contributes equally to the loss. This can be a problem if the dataset is highly imbalanced.

In [11]:
from sklearn.utils.class_weight import compute_class_weight
import numpy as np

category_cols = [col for col in df.columns if col.startswith("category_")]

# Compute class weights (inverse of class frequency)
class_weights = compute_class_weight(
    class_weight="balanced",  # Assigns higher weights to minority classes
    classes=np.arange(len(category_cols)),  # Class indices
    y=df[category_cols].values.argmax(axis=1)  # Convert one-hot to class index
)

# Convert to dictionary format
class_weights_dict = {i: weight for i, weight in enumerate(class_weights)}

# Print class weights
print("Class Weights:", class_weights_dict)

Class Weights: {0: 1.3811706629055007, 1: 19.732997481108313, 2: 217.61111111111111, 3: 1.2179726368159205, 4: 37.127962085308056, 5: 2.4557993730407524, 6: 0.42050456253354807, 7: 3.913086913086913, 8: 1.7312707182320441, 9: 22.839650145772595, 10: 0.6063936837216503, 11: 113.53623188405797, 12: 37.84541062801932, 13: 4.46636259977195, 14: 27.978571428571428, 15: 0.6537594926145373, 16: 0.3995919408314206, 17: 191.0731707317073, 18: 0.9671604938271605, 19: 0.29711381651306557, 20: 8.608791208791208, 21: 1.056079805877595, 22: 0.4677014925373134, 23: 1566.8, 24: 49.270440251572325, 25: 0.2728285853590583, 26: 1.2484462151394422, 27: 0.36334121793979873, 28: 0.5183273785893874, 29: 1.5743569131832797, 30: 21.346049046321525, 31: 0.2665351115949918, 32: 1.9023797960174842}

### 3. Text Preprocessing (Transaction Description)

#### Text Cleaning & Normalization & NER

The following are the text cleaning rules that I can think of:
- Lowercasing: Convert all text to lowercase.
- Removing punctuation & special characters: Strip unnecessary punctuation (except when part of a business name).
- Removing extra spaces: Ensure clean, space-separated tokens.
- Lemmatization: Convert words to their base form (e.g., "running" → "run").
- Removing stopwords: Remove common words like "the," "is," "on" that don't contribute meaning.
- Removing numbers (unless part of a business name): Numbers alone are removed, but business names with numbers are retained.
- Removing natural person names (PERSON from NER): Do not provide information.
- Keeping business names (ORG from NER): Business names are valuable in transaction classification and are preserved.
- Removing locations & dates (GPE, DATE from NER): Location and date details are unnecessary and are removed.
- Removing identifiers or serial numbers: Example: "84DD466B7C25425" and "8445052993ca" are removed.

However, if numbers and letters are clearly separated in a business name (ORG), numbers are stripped while keeping the entity.
Example: "5631moneylion" → "moneylion", "999venmo888" → "venmo".

In [12]:
import spacy
import pandas as pd
import re
from tqdm import tqdm

# Load SpaCy model
nlp = spacy.load("en_core_web_lg")

# Enable tqdm with Pandas for progress bars
tqdm.pandas()

# Dictionary to expand common abbreviations in the text
ABBR_DICT = {
    'ckg': 'checking', 'chk': 'check', 'dep': 'deposit', 'trns': 'transfer',
    'adv': 'advance', 'w/d': 'withdrawal', 'wd': 'withdrawal', 'xfer': 'transfer',
    'pmt': 'payment', 'txn': 'transaction', 'int': 'interest', 'intl': 'international',
    'intr': 'interest', 'chg': 'charge', 'pos': 'point of sale',
    'purch': 'purchase', 'atm': 'cash machine', 'atw': 'cash machine',
    'cd': 'certificate of deposit', 'cc': 'credit card', 'dc': 'debit card',
    'bal': 'balance', 'adj': 'adjustment', 'adjmt': 'adjustment', 'apmt': 'automatic payment',
    'av': 'available', 'bk': 'bank', 'bkcard': 'bank card',
    'bkchg': 'bank charge', 'bkfee': 'bank fee', 'bkln': 'bank loan',
    'bkstmt': 'bank statement', 'bktrns': 'bank transfer', 'bkwd': 'bank withdrawal',
    'blnc': 'balance', 'bnk': 'bank', 'bnkchg': 'bank charge', 'n': "and", 'tx': 'transaction', 
    'cb': 'chase bank', 'trsf': 'transfer', 'ref': 'reference', 'pymt': 'payment', 'pymnt': 'payment', 
    'pmnt': 'payment', 'pw': '', 'ml': '', 'rcvd': 'received', 'dbt': 'debit', 'crd': 'card',
    'mar': 'mart', 'stor': 'store', 'sup': 'supermarket'
}

# Set of terms to remove from the text
REMOVED_TERMS = {
    'ak', 'al', 'ar', 'az', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga', 'hi', 'ia', 
    'id', 'il', 'in', 'ks', 'ky', 'la', 'ma', 'md', 'me', 'mi', 'mn', 'mo', 'ms', 
    'mt', 'nc', 'nd', 'ne', 'nh', 'nj', 'nm', 'nv', 'ny', 'oh', 'ok', 'or', 'pa', 
    'ri', 'sc', 'sd', 'tn', 'tx', 'ut', 'va', 'vt', 'wa', 'wi', 'wv', 'wy', 'rd',
    'date', 'card'
}

# Set of terms to keep in the text (e.g., specific company names)
KEPT_TERMS = {
    '7-eleven', '7eleven', '7 eleven', 'walmart', 'circle k', 'target', 'costco', 'sams club'
}

# Regex patterns for identifying dates, digits, colons/slashes, special characters, and repeated spaces
DATE_PATTERN = re.compile(r'\b(?:\d{1,2}[-/]\d{1,2}(?:[-/]\d{2,4})?|\d{4}[-/]\d{1,2}[-/]\d{1,2})\b')
DIGITS_PATTERN = re.compile(r'\d+')
COLON_SLASH_PATTERN = re.compile(r'[:/]')
REPEATED_SPACES = re.compile(r'\s+')

def is_interleaved_alphanumeric(text):
    """Check if text has interleaved letters and numbers"""
    is_digit_prev = text[0].isdigit()
    transitions = 0
    for char in text[1:]:
        is_digit_curr = char.isdigit()
        if is_digit_curr != is_digit_prev:
            transitions += 1
        is_digit_prev = is_digit_curr
    return transitions > 2

def extract_potential_entity(text):
    """Extract letters from alphanumeric text if clearly separated"""
    if is_interleaved_alphanumeric(text):
        return None
    return DIGITS_PATTERN.sub('', text).strip()

def clean_normalize_text(text):
    """Clean and normalize text by expanding abbreviations, removing unwanted terms, and processing with SpaCy."""
    text = text.lower()
    
    # Check for kept terms before any processing
    for kept_term in KEPT_TERMS:
        if kept_term in text:
            return kept_term
        
    words = text.split()
    expanded_words = [ABBR_DICT.get(word.lower(), word) for word in words]
    text = ' '.join(expanded_words)

    # Remove special characters
    text = re.sub(r'[^a-zA-Z0-9\s-]', ' ', text)
    
    # Process text with SpaCy to tokenize and analyze entities
    doc = nlp(text)
    
    cleaned_tokens = []
    for token in doc:
        word = token.text.lower()
        
        # Remove entities: person names, locations, dates
        if token.ent_type_ in ['PERSON', 'GPE', 'DATE']:
            continue
        
        # Remove date patterns
        if DATE_PATTERN.search(word):
            continue

        # Remove words containing ":" or "/"
        if COLON_SLASH_PATTERN.search(word):
            continue
        
        # Skip if word is a state abbreviation
        if word in REMOVED_TERMS:
            continue
        
        # Keep organization names
        if token.ent_type_ == 'ORG':
            cleaned_tokens.append(token.text)
            continue
        
        # Handle alphanumeric words
        if any(c.isdigit() for c in word) and any(c.isalpha() for c in word):
            entity_name = extract_potential_entity(word)
            if entity_name:
                cleaned_tokens.append(entity_name.lower())
            continue
            
        # Skip punctuation, stopwords, numbers, and short words
        if (not token.is_punct and 
            not token.is_stop and 
            not token.like_num and 
            len(word) > 1):
            cleaned_tokens.append(token.lemma_)
            
    # Join tokens and clean up spaces
    result = ' '.join(cleaned_tokens)
    result = REPEATED_SPACES.sub(' ', result).strip()
    
    return result

pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# df['processed_description'] = df['description'].progress_apply(clean_normalize_text)

# # Display the first few rows
# display(df[['description', 'processed_description']])

However, due to how Spacy handles tokenisation and its limited NLP capabilities, the outcome of text cleaning doesn't look very promising. Errors can be found. E.g. it got confused between entity names and person's names, and misunderstood the meanings of certain words.

In [13]:
# # move processed_description to the first column
# df = df[['processed_description'] + [col for col in df.columns if col != 'processed_description']]

# # save the processed dataset
# df.to_csv("../dataset/cleaned_description_bank_transaction.csv", index=False)

#### Text Feature Extraction & Embeddings

Train a custom FastText Model fine-tunes embeddings on the actual transaction descriptions.
- Learns financial transaction-specific vocabulary, relationship between unique vendor names, abbreviations and industry-specific terms.
- Handles noisy transaction text better

In [19]:
# load the processed dataset
df = pd.read_csv("../dataset/cleaned_description_bank_transaction.csv")

# pip install gensim
from gensim.models import FastText

# Load data
df = pd.read_csv("../bin/cleaned_description_bank_transaction.csv")

# Tokenize descriptions
df['tokenized_description'] = df['processed_description'].apply(lambda x: str(x).split() if pd.notna(x) else [])

# Train FastText model on your transaction descriptions
fasttext_model = FastText(
    sentences=df['tokenized_description'].tolist(), # Use preprocessed tokenised text as input for training
    vector_size=100, # Each word will be converted into a vector of size 100
    window=5, # FastText looks at 5 words before and after the target word
    min_count=1, 
    workers=4,
    sg=1  # Use Skip-gram (better for capturing rare words)
)

# Save model for future use
fasttext_model.save("../models/fasttext_model.bin")

Convert each transaction description into a numerical vector using the custom FastText model

In [20]:
def get_embedding(text):
    # Ensure text is a string and handle missing values
    if pd.isna(text) or not isinstance(text, str) or text.strip() == "":
        return np.zeros(100)  # Return zero vector for empty/missing descriptions

    words = text.split()
    word_vectors = [fasttext_model.wv[word] for word in words if word in fasttext_model.wv]

    if len(word_vectors) == 0:
        return np.zeros(100)  # Return zero vector if no words exist in FastText vocabulary

    return np.mean(word_vectors, axis=0)  # Take mean to get sentence-level embedding

df['fasttext_embedding'] = df['processed_description'].apply(get_embedding)

# Display example embeddings
print(df[['processed_description', 'fasttext_embedding']].head())

                                       processed_description  \
0                              earnin payment donatas danyal
1  online transfer ndonatas danyalda o carson business check
2                    money transfer authorize earnin cdaej s
3                             online transfer everyday check
4                             online transfer everyday check

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      fasttext_embedding
0                       [-0.1218685, -0.12076172, 0.019729942, -0.09866747, -0.43845132, -0.19633552, -0.15577325, -0.7673018, -0.7356672, -1.1100771, 0.11963533, -0.7432741, 0.30313474, 0.42738158, -0.13932341, -0.3967979, 0.44868714, -0.67376006, -0.45634443, -0.5139573, -0.59824866, 0.368088, -0.05385188, 0.10413272, -0.68916833, -0.01414099, -1.1739215, -0.07857981, 0.008003466, -0.4286016, -0.65024567, 0.718181, -0.69437253, 0.1400271, -0.46131027, 0.04645038, 0.9867019, -0.2607811, -0.08112342, -0.17245996, -0.2042216, -0.16616601, 0.38413465, -0.23141065, -0.5047658, -0.3088335, 0.12945265, 0.55527914, 0.10632797, 0.25539267, -0.069178864, 0.5171792, -0.41487095, 0.13364406, -0.657484, 0.54831815, -0.06653162, -0.013701145, 0.025617942, 0.25441167, 0.6128021, -0.28568822, 0.44271943, -0.14334303, 0.19306965, 0.45344228, 0.63517475, -0.07796095, 0.3130009, 0.72543854, 0.33439016, -0.7615882, -0.4971004, -0.20472199, -0.049453273, 0.7120315, -0.063922964, 0.29116827, 1.1810755, -0.28391188, -0.22260684, 0.1272578, 0.36206535, 0.27235436, -0.8846599, -0.23015432, -0.42299962, 0.570765, 0.63581127, 0.028837398, 0.055018935, 0.08899961, -0.23473068, 0.2037031, -0.26791155, 0.6230614, -0.39260215, -0.2543764, -0.0016996637, 0.39046836]
1  [-0.31588373, 0.10051179, 0.0136999935, -0.029577583, 0.036563255, -0.24401508, -0.7792852, -0.76512665, -0.47592586, -0.93620354, 0.19834155, -0.7866164, 0.19899213, 0.42518088, -0.09417537, -0.66371363, 0.4681825, -0.077664435, -0.43978456, -0.38966015, -0.31175348, 0.06169321, -0.3486956, -0.014042588, 0.09435702, -0.37853533, -0.982954, 0.13772026, 0.24768658, -0.3051214, -0.52331984, 0.31204602, -0.09921853, -0.029525815, -0.22642799, 0.32562125, 0.3732135, -0.09416028, 0.0012267614, -0.041132465, -0.51531833, -0.096521884, 0.11328845, -0.07975669, -0.048101075, -0.6008448, -0.09140311, 0.117381044, 0.15230022, 0.343505, -0.12861378, 0.3824812, -0.1294299, 0.041680943, -0.46667656, 0.058128852, -0.5004196, 0.120468765, -0.046089962, 0.5370146, 0.835451, -0.2901932, 0.7919119, -0.439138, -0.04010241, -0.10962605, 0.119998395, -0.28504056, 0.36098415, 0.29586342, 0.3216544, -0.45611882, -0.32396084, -0.42558667, -0.03615234, 0.53484565, 0.060457077, 0.03826317, 0.84895027, -0.060277827, 0.010416722, -0.2639464, 0.45041394, -0.1049775, -0.5370545, -0.051855125, -0.21934012, 0.2689587, 0.1594382, 0.33106798, -0.024307907, -0.14079288, -0.19914293, 0.3345586, 0.39792186, 0.42961475, -0.06658364, -0.1705221, -0.00090078125, 0.2420157]
2               [0.08806143, -0.01102071, 0.1293619, -0.51603293, -0.36476615, -0.21851683, -0.33617207, -0.87273616, -0.57791024, -1.1358477, 0.32326868, -0.3835977, 0.1505263, 0.46044198, -0.046663884, -0.17958574, -0.071921915, -0.23283188, -0.023614815, -0.4584532, -0.18768437, 0.23720747, -0.3469752, -0.14752595, -0.21366322, -0.17701598, -0.77992123, 0.083939135, 0.14193206, -0.14754035, -0.4015509, 0.46300554, -0.17232686, 0.02955995, -0.09000074, 0.06473345, 0.568814, -0.22833723, -0.1289982, -0.19524251, -0.153888, -0.23406778, 0.31885833, -0.08298503, 0.26198763, -0.79222995, -0.3156476, 0.4473159, -0.05418649, 0.39805564, -0.1975139, 0.1870308, 0.4742826, 0.0011297986, -0.49172232, 0.3502772, -0.14142123, -0.029219082, -0.039480362, 0.28659093, 0.6180851, -0.53380275, 0.6980748, -0.36079395, 0.12083259, 0.06658291, -0.014741016, -0.5291952, 0.41884205, 0.16953884, 0.0031508456, -0.4581873, -0.42333582, -0.204964, 0.13649641, 0.3803632, 0.14253062, 0.26134908, 1.1107342, -0.015202608, 0.07808801, -0.35838023, -0.1507213, 0.16060945, -0.6059267, -0.2758431, -0.24603237, 0.40039966, 0.4158959, 0.21798535, 0.15551923, -0.07276735, -0.17510329, 0.18810849, 0.07858123, 0.38564053, -0.07134697, -0.27908254, -0.054610144, 0.29450375]
3                         [-0.34266573, 0.11185886, -0.004768487, -0.5581006, 0.14320982, -0.28852248, -1.0055686, -0.9662248, -0.7651201, -1.2458234, 0.21287546, -0.9510375, -0.03230385, 0.5748909, -0.097717226, -0.9424627, 0.705415, -0.37819552, -0.7457354, -0.56872606, -0.19350168, -0.020397961, -0.51253045, 0.08529353, 0.16159602, -0.4250149, -1.2682834, 0.12925377, -0.0030151606, -0.19018507, -0.8159057, 0.41825047, 0.16922301, 0.14425921, -0.1926793, 0.52253985, 0.56918675, -0.12193376, -0.1554471, 0.13040434, -0.78141195, 0.00462389, 0.34938902, 0.18210284, 0.6093372, -1.1971172, 0.0016040355, 0.26596662, 0.5903559, 0.61172366, -0.16084683, 0.5371291, -0.13858998, 0.13670886, -0.4650916, -0.017527722, -0.5753105, 0.30972913, -0.097500324, 0.9277938, 1.3768198, -0.3514347, 1.1507818, -0.70380676, -0.17006746, -0.15452364, 0.101103194, -0.67673206, 0.5886826, 0.22583872, 0.5437863, -0.6020813, -0.4581731, -0.35610265, -0.21343061, 0.87075245, -0.028603232, 0.20852196, 1.3996832, -0.10242468, 0.1316879, -0.5563001, 0.17493007, -0.11745098, -1.0206097, -0.20749481, 0.10274348, 0.29762325, 0.16271755, 0.36775795, -0.14499485, -0.30423144, -0.25177824, 0.5464154, 0.5330122, 0.54443777, -0.29376876, -0.002734132, -0.2563826, 0.05708887]
4                         [-0.34266573, 0.11185886, -0.004768487, -0.5581006, 0.14320982, -0.28852248, -1.0055686, -0.9662248, -0.7651201, -1.2458234, 0.21287546, -0.9510375, -0.03230385, 0.5748909, -0.097717226, -0.9424627, 0.705415, -0.37819552, -0.7457354, -0.56872606, -0.19350168, -0.020397961, -0.51253045, 0.08529353, 0.16159602, -0.4250149, -1.2682834, 0.12925377, -0.0030151606, -0.19018507, -0.8159057, 0.41825047, 0.16922301, 0.14425921, -0.1926793, 0.52253985, 0.56918675, -0.12193376, -0.1554471, 0.13040434, -0.78141195, 0.00462389, 0.34938902, 0.18210284, 0.6093372, -1.1971172, 0.0016040355, 0.26596662, 0.5903559, 0.61172366, -0.16084683, 0.5371291, -0.13858998, 0.13670886, -0.4650916, -0.017527722, -0.5753105, 0.30972913, -0.097500324, 0.9277938, 1.3768198, -0.3514347, 1.1507818, -0.70380676, -0.17006746, -0.15452364, 0.101103194, -0.67673206, 0.5886826, 0.22583872, 0.5437863, -0.6020813, -0.4581731, -0.35610265, -0.21343061, 0.87075245, -0.028603232, 0.20852196, 1.3996832, -0.10242468, 0.1316879, -0.5563001, 0.17493007, -0.11745098, -1.0206097, -0.20749481, 0.10274348, 0.29762325, 0.16271755, 0.36775795, -0.14499485, -0.30423144, -0.25177824, 0.5464154, 0.5330122, 0.54443777, -0.29376876, -0.002734132, -0.2563826, 0.05708887]

Convert embedding vector into separate feature columns:

Split the 100-dimensional embedding into 100 separate feature columns

In [ ]:
# Convert FastText embedding list into separate columns
embedding_size = 100  # Vector size from FastText
embedding_cols = [f'fasttext_{i}' for i in range(embedding_size)]

# Convert each vector into multiple columns
embedding_df = pd.DataFrame(df['fasttext_embedding'].to_list(), columns=embedding_cols)

# Merge back with the main DataFrame
df = pd.concat([df, embedding_df], axis=1)

# Drop the original embedding column since it's now expanded
df = df.drop(columns=['fasttext_embedding'])

                                       processed_description                                                                                                                       description    amount  is_interested_investment  is_interested_build_credit  is_interested_increase_income  is_interested_pay_off_debt  is_interested_manage_spending  is_interested_grow_savings  category_ATM  category_Arts and Entertainment  category_Bank Fee  category_Bank Fees  category_Check Deposit  category_Clothing and Accessories  category_Convenience Stores  category_Department Stores  category_Digital Entertainment  category_Food and Beverage Services  category_Gas Stations  category_Gyms and Fitness Centers  category_Healthcare  category_Insurance  category_Interest  category_Internal Account Transfer  category_Loans  category_Payment  category_Payroll  category_Restaurants  category_Service  category_Shops  category_Supermarkets and Groceries  category_Tax Refund  \
0                              earnin payment donatas danyal                                                                           Earnin           PAYMENT                 Donatas Danyal  0.215000                         0                           0                              0                           0                              0                           0             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               1                 0                 0                     0                 0               0                                    0                    0
1  online transfer ndonatas danyalda o carson business check                                                       ONLINE TRANSFER FROM NDonatas DanyalDA O CARSON BUSINESS CHECKING 1216 1216  0.276603                         0                           0                              0                           0                              0                           0             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0                 0                     0                 0               0                                    0                    0
2                    money transfer authorize earnin cdaej s  MONEY TRANSFER                          AUTHORIZED ON   09/25 FROM Earnin CDAEJ_B                     CA  S583269001208168   111  0.215000                         0                           0                              0                           0                              0                           0             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               1                 0                 0                     0                 0               0                                    0                    0
3                             online transfer everyday check                                                                         ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKING 1216 1216  0.165718                         0                           0                              0                           0                              0                           0             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0                 0                     0                 0               0                                    0                    0
4                             online transfer everyday check                                                                         ONLINE TRANSFER FROM CARSON N EVERYDAY CHECKING 1216 1216  0.017870                         0                           0                              0                           0                              0                           0             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0                 0                     0                 0               0                                    0                    0

   category_Telecommunication Services  category_Third Party  category_Transfer  category_Transfer Credit  category_Transfer Debit  category_Transfer Deposit  category_Travel  category_Uncategorized  category_Utilities  day_of_week  day_of_month  hour  is_weekend                                               tokenized_description  fasttext_0  fasttext_1  fasttext_2  fasttext_3  fasttext_4  fasttext_5  fasttext_6  fasttext_7  fasttext_8  fasttext_9  fasttext_10  fasttext_11  fasttext_12  fasttext_13  fasttext_14  fasttext_15  fasttext_16  fasttext_17  fasttext_18  fasttext_19  fasttext_20  fasttext_21  fasttext_22  fasttext_23  fasttext_24  fasttext_25  fasttext_26  fasttext_27  fasttext_28  fasttext_29  fasttext_30  fasttext_31  fasttext_32  fasttext_33  fasttext_34  fasttext_35  fasttext_36  fasttext_37  fasttext_38  fasttext_39  fasttext_40  fasttext_41  fasttext_42  fasttext_43  fasttext_44  fasttext_45  fasttext_46  fasttext_47  fasttext_48  fasttext_49  fasttext_50  fasttext_51  \
0                                    0                     0                  0                         0                        0                          0                0                       0                   0            4            29     0           0                                  [earnin, payment, donatas, danyal]   -0.121868   -0.120762    0.019730   -0.098667   -0.438451   -0.196336   -0.155773   -0.767302   -0.735667   -1.110077     0.119635    -0.743274     0.303135     0.427382    -0.139323    -0.396798     0.448687    -0.673760    -0.456344    -0.513957    -0.598249     0.368088    -0.053852     0.104133    -0.689168    -0.014141    -1.173921    -0.078580     0.008003    -0.428602    -0.650246     0.718181    -0.694373     0.140027    -0.461310     0.046450     0.986702    -0.260781    -0.081123    -0.172460    -0.204222    -0.166166     0.384135    -0.231411    -0.504766    -0.308834     0.129453     0.555279     0.106328     0.255393    -0.069179     0.517179
1                                    0                     0                  0                         1                        0                          0                0                       0                   0            0            14     0           0  [online, transfer, ndonatas, danyalda, o, carson, business, check]   -0.315884    0.100512    0.013700   -0.029578    0.036563   -0.244015   -0.779285   -0.765127   -0.475926   -0.936204     0.198342    -0.786616     0.198992     0.425181    -0.094175    -0.663714     0.468183    -0.077664    -0.439785    -0.389660    -0.311753     0.061693    -0.348696    -0.014043     0.094357    -0.378535    -0.982954     0.137720     0.247687    -0.305121    -0.523320     0.312046    -0.099219    -0.029526    -0.226428     0.325621     0.373213    -0.094160     0.001227    -0.041132    -0.515318    -0.096522     0.113288    -0.079757    -0.048101    -0.600845    -0.091403     0.117381     0.152300     0.343505    -0.128614     0.382481
2                                    0                     0                  0                         0                        0                          0                0                       0                   0            0            25     0           0                      [money, transfer, authorize, earnin, cdaej, s]    0.088061   -0.011021    0.129362   -0.516033   -0.364766   -0.218517   -0.336172   -0.872736   -0.577910   -1.135848     0.323269    -0.383598     0.150526     0.460442    -0.046664    -0.179586    -0.071922    -0.232832    -0.023615    -0.458453    -0.187684     0.237207    -0.346975    -0.147526    -0.213663    -0.177016    -0.779921     0.083939     0.141932    -0.147540    -0.401551     0.463006    -0.172327     0.029560    -0.090001     0.064733     0.568814    -0.228337    -0.128998    -0.195243    -0.153888    -0.234068     0.318858    -0.082985     0.261988    -0.792230    -0.315648     0.447316    -0.054186     0.398056    -0.197514     0.187031
3                                    0                     0                  0                         1                        0                          0                0                       0                   0            4             2     0           0                                 [online, transfer, everyday, check]   -0.342666    0.111859   -0.004768   -0.558101    0.143210   -0.288522   -1.005569   -0.966225   -0.765120   -1.245823     0.212875    -0.951038    -0.032304     0.574891    -0.097717    -0.942463     0.705415    -0.378196    -0.745735    -0.568726    -0.193502    -0.020398    -0.512530     0.085294     0.161596    -0.425015    -1.268283     0.129254    -0.003015    -0.190185    -0.815906     0.418250     0.169223     0.144259    -0.192679     0.522540     0.569187    -0.121934    -0.155447     0.130404    -0.781412     0.004624     0.349389     0.182103     0.609337    -1.197117     0.001604     0.265967     0.590356     0.611724    -0.160847     0.537129
4                                    0                     0                  0                         1                        0                          0                0                       0                   0            3             1     0           0                                 [online, transfer, everyday, check]   -0.342666    0.111859   -0.004768   -0.558101    0.143210   -0.288522   -1.005569   -0.966225   -0.765120   -1.245823     0.212875    -0.951038    -0.032304     0.574891    -0.097717    -0.942463     0.705415    -0.378196    -0.745735    -0.568726    -0.193502    -0.020398    -0.512530     0.085294     0.161596    -0.425015    -1.268283     0.129254    -0.003015    -0.190185    -0.815906     0.418250     0.169223     0.144259    -0.192679     0.522540     0.569187    -0.121934    -0.155447     0.130404    -0.781412     0.004624     0.349389     0.182103     0.609337    -1.197117     0.001604     0.265967     0.590356     0.611724    -0.160847     0.537129

   fasttext_52  fasttext_53  fasttext_54  fasttext_55  fasttext_56  fasttext_57  fasttext_58  fasttext_59  fasttext_60  fasttext_61  fasttext_62  fasttext_63  fasttext_64  fasttext_65  fasttext_66  fasttext_67  fasttext_68  fasttext_69  fasttext_70  fasttext_71  fasttext_72  fasttext_73  fasttext_74  fasttext_75  fasttext_76  fasttext_77  fasttext_78  fasttext_79  fasttext_80  fasttext_81  fasttext_82  fasttext_83  fasttext_84  fasttext_85  fasttext_86  fasttext_87  fasttext_88  fasttext_89  fasttext_90  fasttext_91  fasttext_92  fasttext_93  fasttext_94  fasttext_95  fasttext_96  fasttext_97  fasttext_98  fasttext_99
0    -0.414871     0.133644    -0.657484     0.548318    -0.066532    -0.013701     0.025618     0.254412     0.612802    -0.285688     0.442719    -0.143343     0.193070     0.453442     0.635175    -0.077961     0.313001     0.725439     0.334390    -0.761588    -0.497100    -0.204722    -0.049453     0.712031    -0.063923     0.291168     1.181075    -0.283912    -0.222607     0.127258     0.362065     0.272354    -0.884660    -0.230154    -0.423000     0.570765     0.635811     0.028837     0.055019     0.089000    -0.234731     0.203703    -0.267912     0.623061    -0.392602    -0.254376    -0.001700     0.390468
1    -0.129430     0.041681    -0.466677     0.058129    -0.500420     0.120469    -0.046090     0.537015     0.835451    -0.290193     0.791912    -0.439138    -0.040102    -0.109626     0.119998    -0.285041     0.360984     0.295863     0.321654    -0.456119    -0.323961    -0.425587    -0.036152     0.534846     0.060457     0.038263     0.848950    -0.060278     0.010417    -0.263946     0.450414    -0.104978    -0.537054    -0.051855    -0.219340     0.268959     0.159438     0.331068    -0.024308    -0.140793    -0.199143     0.334559     0.397922     0.429615    -0.066584    -0.170522    -0.000901     0.242016
2     0.474283     0.001130    -0.491722     0.350277    -0.141421    -0.029219    -0.039480     0.286591     0.618085    -0.533803     0.698075    -0.360794     0.120833     0.066583    -0.014741    -0.529195     0.418842     0.169539     0.003151    -0.458187    -0.423336    -0.204964     0.136496     0.380363     0.142531     0.261349     1.110734    -0.015203     0.078088    -0.358380    -0.150721     0.160609    -0.605927    -0.275843    -0.246032     0.400400     0.415896     0.217985     0.155519    -0.072767    -0.175103     0.188108     0.078581     0.385641    -0.071347    -0.279083    -0.054610     0.294504
3    -0.138590     0.136709    -0.465092    -0.017528    -0.575311     0.309729    -0.097500     0.927794     1.376820    -0.351435     1.150782    -0.703807    -0.170067    -0.154524     0.101103    -0.676732     0.588683     0.225839     0.543786    -0.602081    -0.458173    -0.356103    -0.213431     0.870752    -0.028603     0.208522     1.399683    -0.102425     0.131688    -0.556300     0.174930    -0.117451    -1.020610    -0.207495     0.102743     0.297623     0.162718     0.367758    -0.144995    -0.304231    -0.251778     0.546415     0.533012     0.544438    -0.293769    -0.002734    -0.256383     0.057089
4    -0.138590     0.136709    -0.465092    -0.017528    -0.575311     0.309729    -0.097500     0.927794     1.376820    -0.351435     1.150782    -0.703807    -0.170067    -0.154524     0.101103    -0.676732     0.588683     0.225839     0.543786    -0.602081    -0.458173    -0.356103    -0.213431     0.870752    -0.028603     0.208522     1.399683    -0.102425     0.131688    -0.556300     0.174930    -0.117451    -1.020610    -0.207495     0.102743     0.297623     0.162718     0.367758    -0.144995    -0.304231    -0.251778     0.546415     0.533012     0.544438    -0.293769    -0.002734    -0.256383     0.057089

Final column rearrangement and cleaning

In [22]:
# Drop the original and processed description columns
df = df.drop(columns=['description', 'processed_description', 'tokenized_description'])

# Move the columns prefixed with category_ to the end
category_cols = [col for col in df.columns if col.startswith("category_")]
df = df[[col for col in df if col not in category_cols] + category_cols]

# print the final dataset head
print(df.head())

     amount  is_interested_investment  is_interested_build_credit  is_interested_increase_income  is_interested_pay_off_debt  is_interested_manage_spending  is_interested_grow_savings  day_of_week  day_of_month  hour  is_weekend  fasttext_0  fasttext_1  fasttext_2  fasttext_3  fasttext_4  fasttext_5  fasttext_6  fasttext_7  fasttext_8  fasttext_9  fasttext_10  fasttext_11  fasttext_12  fasttext_13  fasttext_14  fasttext_15  fasttext_16  fasttext_17  fasttext_18  fasttext_19  fasttext_20  fasttext_21  fasttext_22  fasttext_23  fasttext_24  fasttext_25  fasttext_26  fasttext_27  fasttext_28  fasttext_29  fasttext_30  fasttext_31  fasttext_32  fasttext_33  fasttext_34  fasttext_35  fasttext_36  fasttext_37  fasttext_38  fasttext_39  fasttext_40  fasttext_41  fasttext_42  fasttext_43  fasttext_44  fasttext_45  fasttext_46  fasttext_47  fasttext_48  fasttext_49  fasttext_50  fasttext_51  fasttext_52  fasttext_53  fasttext_54  fasttext_55  fasttext_56  fasttext_57  fasttext_58  \
0  0.215000                         0                           0                              0                           0                              0                           0            4            29     0           0   -0.121868   -0.120762    0.019730   -0.098667   -0.438451   -0.196336   -0.155773   -0.767302   -0.735667   -1.110077     0.119635    -0.743274     0.303135     0.427382    -0.139323    -0.396798     0.448687    -0.673760    -0.456344    -0.513957    -0.598249     0.368088    -0.053852     0.104133    -0.689168    -0.014141    -1.173921    -0.078580     0.008003    -0.428602    -0.650246     0.718181    -0.694373     0.140027    -0.461310     0.046450     0.986702    -0.260781    -0.081123    -0.172460    -0.204222    -0.166166     0.384135    -0.231411    -0.504766    -0.308834     0.129453     0.555279     0.106328     0.255393    -0.069179     0.517179    -0.414871     0.133644    -0.657484     0.548318    -0.066532    -0.013701     0.025618
1  0.276603                         0                           0                              0                           0                              0                           0            0            14     0           0   -0.315884    0.100512    0.013700   -0.029578    0.036563   -0.244015   -0.779285   -0.765127   -0.475926   -0.936204     0.198342    -0.786616     0.198992     0.425181    -0.094175    -0.663714     0.468183    -0.077664    -0.439785    -0.389660    -0.311753     0.061693    -0.348696    -0.014043     0.094357    -0.378535    -0.982954     0.137720     0.247687    -0.305121    -0.523320     0.312046    -0.099219    -0.029526    -0.226428     0.325621     0.373213    -0.094160     0.001227    -0.041132    -0.515318    -0.096522     0.113288    -0.079757    -0.048101    -0.600845    -0.091403     0.117381     0.152300     0.343505    -0.128614     0.382481    -0.129430     0.041681    -0.466677     0.058129    -0.500420     0.120469    -0.046090
2  0.215000                         0                           0                              0                           0                              0                           0            0            25     0           0    0.088061   -0.011021    0.129362   -0.516033   -0.364766   -0.218517   -0.336172   -0.872736   -0.577910   -1.135848     0.323269    -0.383598     0.150526     0.460442    -0.046664    -0.179586    -0.071922    -0.232832    -0.023615    -0.458453    -0.187684     0.237207    -0.346975    -0.147526    -0.213663    -0.177016    -0.779921     0.083939     0.141932    -0.147540    -0.401551     0.463006    -0.172327     0.029560    -0.090001     0.064733     0.568814    -0.228337    -0.128998    -0.195243    -0.153888    -0.234068     0.318858    -0.082985     0.261988    -0.792230    -0.315648     0.447316    -0.054186     0.398056    -0.197514     0.187031     0.474283     0.001130    -0.491722     0.350277    -0.141421    -0.029219    -0.039480
3  0.165718                         0                           0                              0                           0                              0                           0            4             2     0           0   -0.342666    0.111859   -0.004768   -0.558101    0.143210   -0.288522   -1.005569   -0.966225   -0.765120   -1.245823     0.212875    -0.951038    -0.032304     0.574891    -0.097717    -0.942463     0.705415    -0.378196    -0.745735    -0.568726    -0.193502    -0.020398    -0.512530     0.085294     0.161596    -0.425015    -1.268283     0.129254    -0.003015    -0.190185    -0.815906     0.418250     0.169223     0.144259    -0.192679     0.522540     0.569187    -0.121934    -0.155447     0.130404    -0.781412     0.004624     0.349389     0.182103     0.609337    -1.197117     0.001604     0.265967     0.590356     0.611724    -0.160847     0.537129    -0.138590     0.136709    -0.465092    -0.017528    -0.575311     0.309729    -0.097500
4  0.017870                         0                           0                              0                           0                              0                           0            3             1     0           0   -0.342666    0.111859   -0.004768   -0.558101    0.143210   -0.288522   -1.005569   -0.966225   -0.765120   -1.245823     0.212875    -0.951038    -0.032304     0.574891    -0.097717    -0.942463     0.705415    -0.378196    -0.745735    -0.568726    -0.193502    -0.020398    -0.512530     0.085294     0.161596    -0.425015    -1.268283     0.129254    -0.003015    -0.190185    -0.815906     0.418250     0.169223     0.144259    -0.192679     0.522540     0.569187    -0.121934    -0.155447     0.130404    -0.781412     0.004624     0.349389     0.182103     0.609337    -1.197117     0.001604     0.265967     0.590356     0.611724    -0.160847     0.537129    -0.138590     0.136709    -0.465092    -0.017528    -0.575311     0.309729    -0.097500

   fasttext_59  fasttext_60  fasttext_61  fasttext_62  fasttext_63  fasttext_64  fasttext_65  fasttext_66  fasttext_67  fasttext_68  fasttext_69  fasttext_70  fasttext_71  fasttext_72  fasttext_73  fasttext_74  fasttext_75  fasttext_76  fasttext_77  fasttext_78  fasttext_79  fasttext_80  fasttext_81  fasttext_82  fasttext_83  fasttext_84  fasttext_85  fasttext_86  fasttext_87  fasttext_88  fasttext_89  fasttext_90  fasttext_91  fasttext_92  fasttext_93  fasttext_94  fasttext_95  fasttext_96  fasttext_97  fasttext_98  fasttext_99  category_ATM  category_Arts and Entertainment  category_Bank Fee  category_Bank Fees  category_Check Deposit  category_Clothing and Accessories  category_Convenience Stores  category_Department Stores  category_Digital Entertainment  category_Food and Beverage Services  category_Gas Stations  category_Gyms and Fitness Centers  category_Healthcare  category_Insurance  category_Interest  category_Internal Account Transfer  category_Loans  category_Payment  \
0     0.254412     0.612802    -0.285688     0.442719    -0.143343     0.193070     0.453442     0.635175    -0.077961     0.313001     0.725439     0.334390    -0.761588    -0.497100    -0.204722    -0.049453     0.712031    -0.063923     0.291168     1.181075    -0.283912    -0.222607     0.127258     0.362065     0.272354    -0.884660    -0.230154    -0.423000     0.570765     0.635811     0.028837     0.055019     0.089000    -0.234731     0.203703    -0.267912     0.623061    -0.392602    -0.254376    -0.001700     0.390468             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               1                 0
1     0.537015     0.835451    -0.290193     0.791912    -0.439138    -0.040102    -0.109626     0.119998    -0.285041     0.360984     0.295863     0.321654    -0.456119    -0.323961    -0.425587    -0.036152     0.534846     0.060457     0.038263     0.848950    -0.060278     0.010417    -0.263946     0.450414    -0.104978    -0.537054    -0.051855    -0.219340     0.268959     0.159438     0.331068    -0.024308    -0.140793    -0.199143     0.334559     0.397922     0.429615    -0.066584    -0.170522    -0.000901     0.242016             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0
2     0.286591     0.618085    -0.533803     0.698075    -0.360794     0.120833     0.066583    -0.014741    -0.529195     0.418842     0.169539     0.003151    -0.458187    -0.423336    -0.204964     0.136496     0.380363     0.142531     0.261349     1.110734    -0.015203     0.078088    -0.358380    -0.150721     0.160609    -0.605927    -0.275843    -0.246032     0.400400     0.415896     0.217985     0.155519    -0.072767    -0.175103     0.188108     0.078581     0.385641    -0.071347    -0.279083    -0.054610     0.294504             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               1                 0
3     0.927794     1.376820    -0.351435     1.150782    -0.703807    -0.170067    -0.154524     0.101103    -0.676732     0.588683     0.225839     0.543786    -0.602081    -0.458173    -0.356103    -0.213431     0.870752    -0.028603     0.208522     1.399683    -0.102425     0.131688    -0.556300     0.174930    -0.117451    -1.020610    -0.207495     0.102743     0.297623     0.162718     0.367758    -0.144995    -0.304231    -0.251778     0.546415     0.533012     0.544438    -0.293769    -0.002734    -0.256383     0.057089             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0
4     0.927794     1.376820    -0.351435     1.150782    -0.703807    -0.170067    -0.154524     0.101103    -0.676732     0.588683     0.225839     0.543786    -0.602081    -0.458173    -0.356103    -0.213431     0.870752    -0.028603     0.208522     1.399683    -0.102425     0.131688    -0.556300     0.174930    -0.117451    -1.020610    -0.207495     0.102743     0.297623     0.162718     0.367758    -0.144995    -0.304231    -0.251778     0.546415     0.533012     0.544438    -0.293769    -0.002734    -0.256383     0.057089             0                                0                  0                   0                       0                                  0                            0                           0                               0                                    0                      0                                  0                    0                   0                  0                                   0               0                 0

   category_Payroll  category_Restaurants  category_Service  category_Shops  category_Supermarkets and Groceries  category_Tax Refund  category_Telecommunication Services  category_Third Party  category_Transfer  category_Transfer Credit  category_Transfer Debit  category_Transfer Deposit  category_Travel  category_Uncategorized  category_Utilities
0                 0                     0                 0               0                                    0                    0                                    0                     0                  0                         0                        0                          0                0                       0                   0
1                 0                     0                 0               0                                    0                    0                                    0                     0                  0                         1                        0                          0                0                       0                   0
2                 0                     0                 0               0                                    0                    0                                    0                     0                  0                         0                        0                          0                0                       0                   0
3                 0                     0                 0               0                                    0                    0                                    0                     0                  0                         1                        0                          0                0                       0                   0
4                 0                     0                 0               0                                    0                    0                                    0                     0                  0                         1                        0                          0                0                       0                   0

In [23]:
# save the final dataset
df.to_csv("../dataset/clean_embedding_bank_transaction.csv", index=False)